body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 5% 0;
  background-image: url(./grid-bg.png)
}

footer {
  height: 100px;
  text-align: center;
  font-size: 1.5em;
}

div.row {
  align-items: stretch;
  row-gap: 75px;
}
div.col {
  display: flex;
  justify-content: center;
}
.card {
box-shadow:
  0.9px 1.3px 2.5px rgba(0, 0, 0, 0.028),
  3.1px 4.5px 8.3px rgba(0, 0, 0, 0.042),
  14px 20px 37px rgba(0, 0, 0, 0.07)
;
}
